html {
    box-sizing: border-box;
}



*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    text-decoration: none;
}

h2,
h3,
h4,
p {
    margin: 0;
}

body {
    background: #fff;
    margin: 0 auto;
}

.section__title {
    margin-bottom: 61px;
    text-align: center;
    font-family: Inter, sans-serif;
    font-weight: 800;
    font-size: 56px;
    color: #000;
}



.container {
    width: 1590px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container_bigger {
    width: 1350px;
}


.fixed {
    position: fixed;
    height: 100vh;
    overflow-y: hidden;
    padding-left: 194px;
}

.old-body {
    color: #402621;
;
}
