.header__container {
    width: 1590px;
    background-size: 100% 140%;
    background-image:
        url('../img/header-bg.jpg');

}

.header__top {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header__main {
    width: 100%;
}

.header__top-sentence {
    font-family: var(--font3);
    color: #fff;
    display: flex;
    flex-grow: unset;
    align-items: center;
    flex-direction: column;
    font-size: 43px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;

}

.header__main-title {
    font-family: var(--font-family);
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;

}

.header__main-sentence {
    margin-bottom: 120px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #76453B;
}


.header__main-painting {
    display: flex;
    margin: 0 auto;
}

.header-old__container {
    background: url("../img/oldimg/header.jpg");
}

.header__main-sentence-old {
    margin-bottom: 120px;
    font-family: Inter, sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 41.15px;
    text-align: left;

}

.switch-page-btn {
    display: flex;
    max-width: 450px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 85px;
    border: 4px solid #000;
    border-radius: 29px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 47px;
    text-align: center;
    color: #000;
    transition: background .5s, color .5s;
}

.switch-page-btn:hover {
    color: #fff;
    background: #4a4848;
}

.switch-page-btn:focus {
    color: #fff;
    background: #4a4848;
}

.switch-page-btn:active {
    color: #fff;
    background: #000;
}