.history__title {
    font-family: var(--font-family);
    font-size: 56px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;

}


.history__text {
    text-indent: 15px;
    margin-bottom: 40px;
    font-family: var(--font-family);
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;

}

.history__text_line-break {
    display: flex;
    flex-direction: column;
}

.history__span {
    text-indent: 0;
}

.history__text_list, .history__text_mb0 {
    margin-bottom: 0;
}

.history__text-strong {
    font-weight: 542;
}